pyspark
findspark
# Ejercicio 3
kagglehub[pandas-datasets]
matplotlib

#Ejercicio 7 de visualización
seaborn

#En complementarios, ejemplo de muestreo minibatch aleatorio
sklearn #en big data se usan las librerias integradas de pyspark